@model DMS.BLL.ViewModels.AppointmentVM

@{
    ViewData["Title"] = "Create";
}

<h4>Appointment</h4>
<hr />
<a class="btn btn-primary" title="NewPatient" asp-action="Create" asp-controller="Patient">
    New Patient
</a>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="PatientId" class="control-label">Patient Name</label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.Patients">
                    <option value="">Select Patient Name </option>
                </select>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label">Doctor Name</label>
                <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.Doctors">
                    <option value="">Select Doctor Name</option>
                </select>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" type="date"/>
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" type="time" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" type="time"/>
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('#DoctorID, #AppointmentDate').change(function () {
                var doctorId = $('#DoctorID').val();
                var date = $('#AppointmentDate').val();

                if (doctorId && date) {
                    $.getJSON('@Url.Action("GetAvailableSlots", "Appointment")', { doctorId: doctorId, date: date }, function (data) {
                        var items = '<option value="">Select a time</option>';
                        $.each(data, function (i, slot) {
                            items += "<option value='" + slot.value + "'>" + slot.text + "</option>";
                        });
                        $('#StartTime').html(items);
                    });
                }
            });
            $('#StartTime').change(function () {
                var startTime = $(this).val();
                if (startTime) {
                    var endTime = new Date("1970-01-01T" + startTime + "Z");
                    endTime.setMinutes(endTime.getMinutes() + 30);
                    var formattedEndTime = endTime.toISOString().substring(11, 16);
                    $('#EndTime').val(formattedEndTime);
                } else {
                    $('#EndTime').val('');
                }
            });
        });
    </script>
}